<div class="banner px-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F72488669%2F216286669309%2F1%2Foriginal.20190911-194443?w=1000&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C18%2C1868%2C934&s=71d6d1ad201336fa85c80f97677f4fda);">
    <h1><%= @cocktail.name %></h1>
</div>

  <div class="container">
    <%= simple_form_for [ @cocktail, @dose ] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit "Submit dose", class: "btn btn-primary" %>
    <% end %>
    <%= link_to  "To main page", cocktails_path %>
    <div>
    <% @cocktail.doses.each do |dose| %>
      <p><%= dose.ingredient.name %></p>
      <p><%= dose.description %></p>
    <% end %>
    </div>
  </div>

  



</div>